/* @import "tailwindcss"; */

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

/* .header{
  display: flex;
  justify-content: space-between;
}

.logo{
  width: 54px;
  height: 54px;
}

.nav-items ul{
  display: flex;
  padding: 0 20px;
}

.nav-items li{
  list-style: none;
  margin: 0 10px;

}

.logo-container{
  display: flex;
}
.logo-name{
  margin-left: 5px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.res-card{
     width: 250px; 
    /* height: 380px;  */
    /* border: 1px solid black;
    margin: 10px;
  h3{
    text-align: center;
    margin: 0px;
  }
  h4{
    text-align: center;
    margin: 0px;
    font-size: 14px;
  }

}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.shimmer-card{
    width: 250px;
    height: 380px;
    border: 1px solid black;
    margin: 10px;
    background-color: #f0f0f0;
    animation: shimmer 1.5s infinite linear;

    }
  .card-logo{
    width: 100%;
  }

  .filter{
    display: flex;
    justify-content: space-between;
  }

  .filter-btn{
    margin: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #d16002;
    color: black;
    cursor: pointer;
  }

  .login{
    padding: 0px 20px;
    cursor: pointer;
  }

  .search{
    margin: 10px;
    padding: 5px 10px;
    border: none;
    color: black;
    cursor: pointer;
  }

  .search-btn{
        margin-left: 5px;
  }

  .user-info{
    border: 1px solid;
    width: 230px;
    height: auto;
    padding: 15px;
  } */ 